.nr-header {
	background:
		linear-gradient(0deg, rgba(255, 255, 255, 0.701), rgba(255, 255, 255, 0.701)),
		url(https://img.freepik.com/premium-photo/abstract-background-from-white-marble-texture-wall-luxury-backdrop_28586-1070.jpg?w=2000);
	background-repeat: no-repeat;
	background-size: cover;
}
#nr-neoros-desktop { position: relative; margin-block-start: 20px; margin-block-end: 20px; margin-top: 1in; margin-bottom: 1cm; height: 80%; display: flex; justify-content: center; }
.nr-navbar {
	color: #fff;
}
.nr-banner-wrapper { display: flex; margin-top: 50px; z-index: 1; } .nr-banner { margin: 80px; display: flex; flex-direction: column; } .nr-banner * { color: #000 !important; } .nr-banner > .nr-largetext { font-family: 'Adobe Clean Bold'; position: relative; color: #fff; font-size: 52px; margin-bottom: 15px; text-align: left; } .nr-banner > #nr-smalltext { font-size: 16px; position: relative; font-weight: 300; text-align: left; } .nr-banner > p { font-size: 19px; color: #fff; } .nr-banner-button { margin-top: 30px; display: flex; margin-left: 80px; margin-right: auto; z-index: 1; } .nr-banner-button > a { margin-right: 15px; text-decoration: none; font-size: 15px; }
.nr-section {
	background-color: transparent; padding: 100px; display: flex; flex-direction: column; color: black;
}
#section {
	display: grid; grid-template-areas: 'header header header';
}
.nr-board { margin-bottom: 65px; } .nr-board-information { display: flex; flex-direction: column; padding: 0 50px; margin-bottom: 30px; }
.nr-board-header {
	font-weight: 300;
	font-size: 50px;
	grid-area: header;
	margin-bottom: 80px;
}

.nr-board-header::before {
	content: '';
	display: block;
	background: linear-gradient(130deg, #ca2f00, #6850ac);
	width: 150px;
	height: 3px;
	margin-bottom: 10px;
}
.nr-board-icon { width: 100px; height: 100px; margin: 0 auto; }
.nr-board-icon .light-mode { display: block; }
.nr-board-icon .dark-mode { display: none; }
.nr-board-title p { font-size: 40px; font-weight: 400; text-align: center; }
.nr-board-description { margin-top: 10px; text-align: center; } .nr-board-description p { font-size: 18.5px; } .nr-board-description a { color: #000; }
.nr-arrow-container{ margin: 70px 20px; } .nr-arrow div { display: block; width: 15px; height: 15px; transform: rotate(45deg); border-right: 2px solid #000; border-bottom: 2px solid #000; margin: 0 0 3px 10px; animation: glowUp 5s infinite; } 

@keyframes glowUp {
    0% {
    	filter: drop-shadow(0px 0px 8px #00000075);
    }
    50% {
    	filter: drop-shadow(0px 0px 3px #000000);
    }
    100% {
    	filter: drop-shadow(0px 0px 8px #00000075);
    }
}

.nr-banner-item {
	padding: 10px 25px;
	border: 2px solid #000;
	border-radius: 999px;
	color: #000;
	font-weight: 350;
	transition: ease .15s;
	font-family: "Adobe Clean Bold";
}

.nr-banner-item:nth-child(1){
	background-color: rgb(0, 132, 255);
	border: 2px solid rgb(0, 132, 255);
	color: #fff;
	transition: ease .2s;
}

.nr-banner-item:nth-child(1):hover {
	background-color: rgb(45, 153, 255);
	border: 2px solid rgb(45, 153, 255);
}

#nr-neoros-desktop-img {
	width: 80%;
	height: 80%;
}

.nr-laptop-overlay {
	position: absolute;
    width: 62.8%;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-64.5%);
	max-width: 100%;
	height: auto;
}

.nr-laptop-overlay img {
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}

.nr-banner-list {
	font-weight: bolder;
}

.nr-version-release {
	background-color: #fff;
	padding: 100px 0;
}

.nr-version-release-wrapper {
	display: flex;
	flex-direction: column;
}

.nr-version-release-header {
	padding: 0 45px;
}

.nr-version-release-header p.nr-version-release-header-text {
	background: -webkit-linear-gradient(120deg, #ff4aae, #00ffb3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin-bottom: 30px;
	font-size: 78px;
	font-weight: bold;
	text-align: center;
}

.nr-version-release-header p.nr-version-release-description-text {
	color: #000;
	font-size: 30px;
	text-align: center;
}

.nr-version-release-button {
	border: 1px solid #000;
	color: #000;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	transition: ease .2s;
}

.nr-version-release-button:hover {
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
}

.nr-section-download {
	background-color: #fcfcfc;
    color: #111111;
	transition: ease .3s;
}

.nr-board-option > p {
	font-size: 40px;
	font-weight: normal;
	margin: 20px;
	text-align: center;
}

.nr-selection {
	margin: 50px auto;
	display: flex;
	max-width: 1120px;
}
.nr-selection-navbar {
	display: flex;
	margin-right: 25px;
	margin-bottom: 0px;
	max-width: 700px;
}
#nr-selection-logo img {
	border-radius: 50%;
}
.nr-selection-information {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
}
.nr-selection-information > .nr-selection-title {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 10px;
}
.nr-selection-information > .nr-selection-description {
	color: #6b6b6b;
	font-size: 17px;
	max-width: 2000px;
	margin-right: 40px;
	font-weight: 350;
}
.nr-selection-download {
	margin-top: 50px;
}
.nr-selection-item {
	background-color: #fcfcfc;
	border: 1px solid #111111;
	color: #111111;
	text-decoration: inherit;
	font-size: 17px;
	padding: 10px 30px;
	transition: ease .2s;
	align-items: center;
	text-align: center;
	font-weight: 350;
}
.nr-selection-item:hover {
	background-color: #111111;
	color: #fcfcfc;
}

#nr-selection-desktop {
	display: flex;
	justify-content: center;
}
.nr-desktop-preview {
	border-radius: 10px;
	box-shadow: 0px 0 20px #fff;
	transition: ease .3s;
}
img.not-has-dark-mode {
	display: block;
}

img.has-dark-mode {
	display: none;
}

@media screen and (max-width: 1258px) {
	.nr-board { text-align: center; align-items: center; flex-direction: column; } .nr-board-option > p { margin-bottom: 60px; } .nr-banner-button { flex-direction: column; margin-left: auto; margin-right: auto; } .nr-banner-button > .nr-banner-item { display: flex; justify-content: center; margin-right: 0px; margin-bottom: 15px; } .nr-board-information { margin-right: 0px !important; margin-bottom: 30px !important; padding: 0;} .nr-selection-navbar { margin-right: 0px; margin-bottom: 25px; flex-direction: column; } .nr-selection-information { margin-left: 0px; margin-top: 15px; margin-bottom: 15px; } .nr-selection { display: flex; flex-direction: column; margin: 25px auto; max-width: 700px; width: 90%; margin-bottom: 120px; }
	.nr-board-header {
		text-align: left;
	}
	#section {
		display: flex;
		flex-direction: column;
	}

	#section .nr-board-icon {
		width: 100px;
	}

	#section .nr-board-title p {
		font-size: 50px;
	}

	#section .nr-board-description p {
		font-size: 18.5px;
	}
	#nr-neoros-desktop {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.nr-banner > .nr-largetext {
		text-align: center;
	}

	.nr-banner > #nr-smalltext {
		text-align: center;
		margin: 0;
	}
	.nr-banner-wrapper {
		flex-direction: column-reverse;
	}

	.nr-selection-download {
		display: flex;
    	justify-content: center;
	}
}

@media screen and (max-width: 800px){
	.nr-version-release-header p.nr-version-release-header-text {
		font-size: 55px;
	}

	.nr-version-release-header p.nr-version-release-description-text {
		font-size: 20px;
	}
}
@media screen and (max-width: 700px){
	.nr-banner > .nr-largetext { font-size: 40px; }
}

@media screen and (max-width: 500px){
	.nr-banner {
		margin: 50px;
	}
	.nr-banner > p {
		font-size: 16px;
	}

	.nr-board-icon {
		width: 70px !important;
		height: 70px !important;
	}

	.nr-board-header {
		font-size: 40px;
	}

	.nr-board-title p {
		font-size: 30px !important;
	}

	.nr-section {
		padding: 100px 45px;
	}
	
	.nr-laptop-overlay {
		top: 57%;
		left: 50%;
	}

	.nr-laptop-overlay img {
		border-radius: 2px;
	}
}
@media screen and (max-width: 412px) {
	.nr-selection {
		width: 100%;
	}

	.nr-section-download {
		padding-left: 50px;
		padding-right: 50px;
	}

	.nr-board-option > p {
		font-size: 30px;
	}

	.nr-selection-information > .nr-selection-title {
		font-size: 25px;
	}

	.nr-selection-information > .nr-selection-description {
		font-size: 15px;
		max-width: 100%;
		margin-right: 0;
	}

	.nr-selection-item {
		font-size: 14px;
	}
}

/** Dark mode area **/
.dark-mode img.not-has-dark-mode {
	display: none;
}

.dark-mode img.has-dark-mode {
	display: block;
}
.dark-mode .nr-navbar-button-inner > div {
	background-color: #fff;
}
.dark-mode .nr-banner-list {
	background-color: #000;
	font-weight: bolder;
}
.dark-mode .nr-navigator .nr-navigator-list a {
	color: #fff;
}

.dark-mode .nr-navigator .nr-navigator-list a::after {
	background-color: #fff;
}
.dark-mode .nr-list li > a {
	color: #fff;
}
.dark-mode .nr-header {
	background:
		linear-gradient(0deg, rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)),
		url(https://cdn.wallpapersafari.com/10/80/VP5eTn.jpg);
}
.dark-mode .nr-banner * {
	color: #fff !important;
}
.dark-mode .nr-banner-button > .nr-banner-item:nth-child(2) {
	border: 2px solid #fff;
	color: #fff;
}
.dark-mode .nr-arrow div {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
	animation: glowUpDark 5s infinite;
}
@keyframes glowUpDark {
    0% {
    	filter: drop-shadow(0px 0px 8px #ffffff75);
    }
    50% {
    	filter: drop-shadow(0px 0px 3px #ffffff);
    }
    100% {
    	filter: drop-shadow(0px 0px 8px #ffffff75);
    }
}
.dark-mode .nr-section {
	color: #fff;
}

.dark-mode .nr-board-description p > a {
	color: #fff;
}

.dark-mode .nr-board-icon .light-mode {
	display: none;
}

.dark-mode .nr-board-icon .dark-mode {
	display: block;
}

.dark-mode .nr-version-release {
	background-color: #000;
}

.dark-mode .nr-version-release-header p.nr-version-release-description-text {
	color: #fff;
}

.dark-mode .nr-version-release-button {
	border: 1px solid #fff;
	color: #fff;
}

.dark-mode .nr-version-release-button:hover {
	background-color: #fff;
	color: #000;
}

.dark-mode .nr-section-download {
	background-color: #111111;
    color: #fcfcfc;
}

.dark-mode .nr-selection-item {
	background-color: #111111;
	color: #fcfcfc;
	border: 1px solid #fcfcfc;
}

.dark-mode .nr-selection-item:hover {
	background-color: #fcfcfc;
	color: #111111;
}

.dark-mode .nr-desktop-preview {
    box-shadow: 0px 0 20px #000;
}