.nr-header { background: linear-gradient(130deg, #6850ac, #ca2f00); } #nr-neoros-desktop { position: relative; margin-block-start: 20px; margin-block-end: 20px; margin-top: 1in; margin-bottom: 1cm; height: 80%; display: flex; justify-content: center; }
.nr-navbar {
	color: #fff;
}
.nr-banner-wrapper { display: flex; justify-content: space-between; margin-top: 50px; } .nr-banner { margin: 80px; display: flex; flex-direction: column; text-align: center; } .nr-banner > .nr-largetext { position: relative; color: #fff; font-size: 50px; margin-bottom: 15px; animation: showUp .7s; text-align: left; } .nr-banner > #nr-smalltext { position: relative; font-weight: 300; text-align: left; margin-right: 250px; } .nr-animation { animation: showUp .6s; opacity: 1; } @keyframes showUp { 0% { opacity: 0; top: 50px; } 100% { opacity: 1; top: 0; }} .nr-banner > p { font-size: 19px; color: #fff; } .nr-banner-button { margin-top: 30px; display: flex; margin-left: 80px; margin-right: auto; } .nr-banner-button > a { margin-right: 15px; text-decoration: none; font-size: 15px; } .nr-section { background-color: transparent; padding: 100px 70px; display: flex; flex-direction: column; color: black; } .nr-board { margin-bottom: 65px; } .nr-board-information { display: flex; flex-direction: column; padding: 0 150px; margin-bottom: 30px; }
.nr-board-icon { width: 100px; height: 100px; margin: 0 auto; }
.nr-board-icon .light-mode { display: block; }
.nr-board-icon .dark-mode { display: none; }
.nr-board-title p { font-size: 50px; font-weight: 400; text-align: center; }
.nr-board-description { margin-top: 10px; text-align: center; } .nr-board-description p { font-size: 18.5px; } .nr-board-description a { color: #000; }
.nr-arrow-container{ margin: 70px 20px; } .nr-arrow div { display: block; width: 15px; height: 15px; transform: rotate(45deg); border-right: 2px solid #fff; border-bottom: 2px solid #fff; margin: 0 0 3px 10px; animation: glowUp 5s infinite; } 

@keyframes glowUp {
    0% {
    	filter: drop-shadow(0px 0px 8px #ffffff75);
    }
    50% {
    	filter: drop-shadow(0px 0px 3px #ffffff);
    }
    100% {
    	filter: drop-shadow(0px 0px 8px #ffffff75);
    }
}

.nr-banner-item {
	padding: 10px 25px;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 350;
	font-size: 18px !important;
	transition: ease .15s;
}

.nr-banner-item:hover {
	background-color: #fff;
	color: #000;
}

#nr-neoros-desktop-img {
	width: 80%;
	height: 80%;
}

.nr-laptop-overlay {
	position: absolute;
    width: 62.8%;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-64.5%);
	max-width: 100%;
	height: auto;
}

.nr-laptop-overlay img {
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}

.nr-banner-list {
	background-color: #000;
	color: #fff;
	font-weight: 350;
}

.nr-list li > a {
	color: #fff;
}

.nr-navbar-button-inner > div {
	background-color: #fff;
}

.nr-version-release {
	background-color: #fff;
	padding: 100px 0;
}

.nr-version-release-wrapper {
	display: flex;
	flex-direction: column;
}

.nr-version-release-header {
	padding: 0 45px;
}

.nr-version-release-header p.nr-version-release-header-text {
	background: -webkit-linear-gradient(120deg, #ff4aae, #00ffb3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin-bottom: 30px;
	font-size: 78px;
	font-weight: bold;
	text-align: center;
}

.nr-version-release-header p.nr-version-release-description-text {
	color: #000;
	font-size: 30px;
	text-align: center;
}

.nr-version-release-button {
	border: 1px solid #000;
	color: #000;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	transition: ease .2s;
}

.nr-version-release-button:hover {
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
}

.nr-section-download {
	background-color: #fcfcfc;
    color: #111111;
	transition: ease .3s;
}

.nr-board-option > p {
	font-size: 40px;
	font-weight: normal;
	margin: 20px;
	text-align: center;
}

.nr-selection {
	margin: 50px auto;
	display: flex;
	max-width: 1120px;
}
.nr-selection-navbar {
	display: flex;
	margin-right: 25px;
	margin-bottom: 0px;
	max-width: 700px;
}
#nr-selection-logo img {
	border-radius: 50%;
}
.nr-selection-information {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
}
.nr-selection-information > .nr-selection-title {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 10px;
}
.nr-selection-information > .nr-selection-description {
	color: #6b6b6b;
	font-size: 17px;
	max-width: 2000px;
	margin-right: 40px;
	font-weight: 350;
}
.nr-selection-download {
	margin-top: 50px;
}
.nr-selection-item {
	background-color: #fcfcfc;
	border: 1px solid #111111;
	color: #111111;
	text-decoration: inherit;
	font-size: 17px;
	padding: 10px 30px;
	transition: ease .2s;
	align-items: center;
	text-align: center;
	font-weight: 350;
}
.nr-selection-item:hover {
	background-color: #111111;
	color: #fcfcfc;
}

#nr-selection-desktop {
	display: flex;
	justify-content: center;
}
.nr-desktop-preview {
	border-radius: 10px;
	box-shadow: 0px 0 20px #fff;
	transition: ease .3s;
}

@media screen and (max-width: 1258px) {
	.nr-board { text-align: center; align-items: center; flex-direction: column; } .nr-board-option > p { margin-bottom: 60px; } .nr-banner-button { flex-direction: column; margin-left: auto; margin-right: auto; } .nr-banner-button > .nr-banner-item { display: flex; justify-content: center; margin-right: 0px; margin-bottom: 15px; } .nr-board-information { margin-right: 0px !important; margin-bottom: 30px !important; padding: 0;} .nr-selection-navbar { margin-right: 0px; margin-bottom: 25px; flex-direction: column; } .nr-selection-information { margin-left: 0px; margin-top: 15px; margin-bottom: 15px; } .nr-selection { flex-direction: column; margin: 25px auto; max-width: 700px; width: 90%; margin-bottom: 120px; }
	#nr-neoros-desktop {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.nr-banner > .nr-largetext {
		text-align: center;
	}

	.nr-banner > #nr-smalltext {
		text-align: center;
		margin: 0;
	}
	.nr-banner-wrapper {
		flex-direction: column-reverse;
	}

	.nr-selection-download {
		display: flex;
    	justify-content: center;
	}
}

@media screen and (max-width: 800px){
	.nr-version-release-header p.nr-version-release-header-text {
		font-size: 55px;
	}

	.nr-version-release-header p.nr-version-release-description-text {
		font-size: 20px;
	}
}
@media screen and (max-width: 700px){
	.nr-banner > .nr-largetext { font-size: 40px; }
}

@media screen and (max-width: 500px){
	.nr-banner {
		margin: 50px;
	}
	.nr-banner > p {
		font-size: 16px;
	}

	.nr-board-icon {
		width: 70px;
		height: 70px;
	}

	.nr-board-title p {
		font-size: 30px;
	}

	.nr-section {
		padding: 100px 45px;
	}
	
	.nr-laptop-overlay {
		top: 57%;
		left: 50%;
	}

	.nr-laptop-overlay img {
		border-radius: 2px;
	}
}
@media screen and (max-width: 412px) {
	.nr-selection {
		width: 100%;
	}

	.nr-section-download {
		padding-left: 50px;
		padding-right: 50px;
	}

	.nr-board-option > p {
		font-size: 30px;
	}

	.nr-selection-information > .nr-selection-title {
		font-size: 25px;
	}

	.nr-selection-information > .nr-selection-description {
		font-size: 15px;
		max-width: 100%;
		margin-right: 0;
	}

	.nr-selection-item {
		font-size: 14px;
	}
}

/** Dark mode area **/
.dark-mode .nr-header {
	background: linear-gradient(130deg, #2b0016, #70250e);
}

.dark-mode .nr-section {
	color: #fff;
}

.dark-mode .nr-board-description p > a {
	color: #fff;
}

.dark-mode .nr-board-icon .light-mode {
	display: none;
}

.dark-mode .nr-board-icon .dark-mode {
	display: block;
}

.dark-mode .nr-version-release {
	background-color: #000;
}

.dark-mode .nr-version-release-header p.nr-version-release-description-text {
	color: #fff;
}

.dark-mode .nr-version-release-button {
	border: 1px solid #fff;
	color: #fff;
}

.dark-mode .nr-version-release-button:hover {
	background-color: #fff;
	color: #000;
}

.dark-mode .nr-section-download {
	background-color: #111111;
    color: #fcfcfc;
}

.dark-mode .nr-selection-item {
	background-color: #111111;
	color: #fcfcfc;
	border: 1px solid #fcfcfc;
}

.dark-mode .nr-selection-item:hover {
	background-color: #fcfcfc;
	color: #111111;
}

.dark-mode .nr-desktop-preview {
    box-shadow: 0px 0 20px #000;
}