.nr-banner-list {
	background-color: #fff;
	color: #000;
}

.nr-list li > a {
	color: #000;
}
.nr-navbar-button-inner > div {
	background-color: #000;
}

.nr-header {
	background: #fff;
}

.nr-content {
	background-color: #fff;
	padding: 60px;
}

.nr-container {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

.nr-informations {
	display: flex;
	flex-direction: column;
}

.nr-informations-title {
	font-size: 40px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 26px;
}

.nr-informations-description {
	font-size: 15px;
	color: #a7a7a7;
	font-weight: 350;
}

.nr-content-banner {
	font-size: 17px;
	margin-top: 70px;
	margin-bottom: 70px;
}

.nr-content-banner h1, .nr-content-banner h2, .nr-content-banner h3, .nr-content-banner h4, .nr-content-banner h5, .nr-content-banner h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 400;
}

.nr-content-banner p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
}

.nr-content-banner ul {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 17px;
}

.nr-content-banner ul li {
	list-style: disc;
	line-height: 2;
}

.nr-content-banner .ul2 li {
	list-style: decimal;
}

.nr-content-banner a {
	color: #3076df;
	text-decoration: none;
}

.nr-content-banner img {
	margin: 50px auto;
	display: block;
}

.container-information,.container-warning,.container-critical {
	color: #000;
}

@media screen and (max-width: 480px){
	.nr-content {
		padding-left: 40px;
		padding-right: 40px;
	}
	.nr-content > div {
		width: 100%;
	}

	.nr-content-banner p {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 15px;
	}

	.nr-content-banner ul {
		margin-top: 40px;
		font-size: 15px;
	}

	.container-information,.container-warning,.container-critical {
		font-size: 13px !important;
	}
}