.nr-banner-list {
	background-color: #fff;
	color: #000;
}

.nr-list li > a {
	color: #000;
}
.nr-navbar-button-inner > div {
	background-color: #000;
}


.nr-header {
	background-image: none;
	background-color: #fff;
	height: 100vh;
}

.nr-header > .nr-banner p {
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000;
}

.nr-body {
	margin-top: 30px;
    margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.nr-body p {
	font-size: 16px !important;
	font-weight: 300 !important;
}