.nr-header {
	background-image: none;
	background-color: #fff;
	height: 100vh;
}

.nr-header > .nr-banner p {
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000;
}

.nr-body {
	margin-top: 30px;
    margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.nr-body p {
	font-size: 16px !important;
	font-weight: 300 !important;
}

img.has-dark-mode {
	display: none;
}

/** Dark mode area **/

.dark-mode .nr-header {
	background: #000;
}

.dark-mode img.has-dark-mode {
	display: block;
}

.dark-mode img:not(.has-dark-mode) {
	display: none;
}

.dark-mode .nr-header > .nr-banner p {
	color: #fff;
}